.grid-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media all and (max-width: 600px) {
  .grid-list-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
